.contianer {
}
.greenPoint {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke: #0fde8c;
  fill: #0fde8c;
}
.redPoint {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke: #f72d6b;
  fill: #f72d6b;
}
.greenLine {
  fill: none;
  stroke-width: 4px;
  stroke: #0fde8c;
}
.redLine {
  fill: none;
  stroke-width: 4px;
  stroke: #f72d6b;
}
.redArea {
  stroke: none;
  fill-opacity: 0.1;
  fill: #f72d6b;
}
.greenArea {
  stroke: none;
  fill-opacity: 0.1;
  fill: #0fde8c;
}
