.contianer {
}
.greenPoint {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke: #0fde8c;
  fill: #0fde8c;
}
.redPoint {
  stroke-width: 10px;
  stroke-linecap: round;
  stroke: #f72d6b;
  fill: #f72d6b;
}
.greenLine {
  fill: none;
  stroke-width: 4px;
  stroke: #0fde8c;
}
.redLine {
  fill: none;
  stroke-width: 4px;
  stroke: #f72d6b;
}
.redArea {
  stroke: none;
  fill-opacity: 0.1;
  fill: #f72d6b;
}
.greenArea {
  stroke: none;
  fill-opacity: 0.1;
  fill: #0fde8c;
}

.customGrid {
  stroke: var(--grid-color);
  stroke-width: 1px;
  stroke-dasharray: 2px;
}

.customGridbackground {
  fill: none;
}

.customLabels {
  fill: var(--labels-color);
  color: var(--labels-color);
  font-size: 0.75rem;
  line-height: 1;
}
