.button {
  cursor: pointer;
  outline: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border: 0;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 15px;
  opacity: 1;
  transition: 0.01s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.redBtn {
  font-weight: bold;
  border: 3px solid #f72d6b;
  color: #f72d6b;
}
.redBtn:hover {
  background-color: #f72d6b;
  color: #fff;
}
.redBtn:active {
  font-weight: normal;
  background-color: #f72d6b;
  color: #fff;
}
.greenBtn {
  font-weight: bold;
  border: 3px solid #0fde8c;
  color: #0fde8c;
}
.greenBtn:hover {
  background-color: #0fde8c;
  color: #fff;
}
.greenBtn:active {
  font-weight: normal;
  background-color: #0fde8c;
  color: #fff;
}
.blueBtn {
  font-weight: bold;
  border: 3px solid #5140b3;
  color: #0fde8c;
}
.blueBtn:hover {
  background-color: #5140b3;
  color: #fff;
}
.blueBtn:active {
  font-weight: normal;
  background-color: #5140b3;
  color: #fff;
}
