.menu {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #110261;
  z-index: 1000;
  top: 0;
  left: 0;
  text-align: center;
  transition: 0.2s;
}
.menu_visible_false {
  margin-left: -100%;
}
.menu__user-block {
  padding: 20px;
  margin-top: 70px;
}
.menu__user-block img {
  border-radius: 100%;
  height: 100px;
  width: 100px;
}
.menu__user-block h2 {
  color: #fff;
  margin: 0;
}
.menu__items {
  color: #fff;
}
.menu__items ul {
  list-style-type: none;
  margin-left: -40px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
}
.menu__items ul li {
  cursor: pointer;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.menu__items ul li:hover {
  color: #f72d6b;
}
.menu__items ul li i {
  margin-right: 10px;
  color: #1b039d;
}

.menu__items ul li i.money-beg-icon {
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
}
