.profile {
  padding-left: 5px;
  padding-right: 5px;
}
.avatar {
}
.user {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
.avatarContainer {
  max-width: 120px;
  max-height: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 300px;
  height: 300px;
}
.footerUser {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
}
.subFooter {
  text-align: center;
  font-size: 12px;
  color: #797979;
}
.fullName {
}
