.container {
  width: 30px;
  height: 30px;
  transition: 0.01s;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.greenBtn {
  background: url(../../static/plus.svg) no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-color: #5281b9;
  /* border: 3px solid #0fde8c; */
  border: 2px solid #5281b9;
}
.greenBtn:hover {
  background-color: #0fde8c;
}
.greenBtn:hover > div > div > svg {
  fill: #fff !important;
}
.greenBtn:active {
  opacity: 0.5;
}
.redBtn {
  background: url(../../static/minus.svg) no-repeat;
  background-position: center;
  background-size: 12px 12px;
  background-color: #5281b9;
  border: 2px solid #5281b9;
  /* border: 3px solid #f72d6b; */
}
.redBtn:hover {
  background-color: #f72d6b;
}
.redBtn:hover > div > div > svg {
  fill: #fff !important;
}
.redBtn:active {
  opacity: 0.5;
}
