.customized-swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  outline: 0;
}
.customized-swiper-paginationbullets {
  /* bottom: 10% !important;
  left: 0;
  width: 100%;
  outline: 0; */
}
.customized-swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #130563;
  opacity: 0.2;
  margin: 5px;
  outline: 0;
}

.customized-swiper-pagination-bullet-active {
  opacity: 1;
  background: #110261;
  outline: 0;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 70%;
  z-index: 1;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* background-color: rgba(10, 10, 10, 0.3); */
}
.swiper-pagination {
  /* position: absolute; */
  padding-top: 10px;
  text-align: center;
  -webkit-transition: 300ms opacity;
  -o-transition: 300ms opacity;
  transition: 300ms opacity;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
  height: 30%;
  /* background-color: rgba(50, 10, 10, 0.3); */
  width: 100%;
}
.swiper-slide {
  -ms-flex-negative: 0;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
