.customized-swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
  height: 100%;
}
.customized-swiper-paginationbullets {
  bottom: 10% !important;
  left: 0;
  width: 100%;
}
.customized-swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #130563;
  opacity: 0.2;
  margin: 5px;
}

.customized-swiper-pagination-bullet-active {
  opacity: 1;
  background: #110261;
}
