.btn {
  text-transform: uppercase;
  background-color: #f72d6b;
  color: #ffff;
  border: 0;
  padding: 15px 70px 15px 70px;
  border-radius: 60px;
  font-size: 15px;
  transition: 0.2s ease;
  opacity: 1;
  outline: 0;
}
.btn:hover {
  opacity: 0.5;
}

.enterContainer {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  transition: 0.3s;
  padding-top: 20%;
}

.enterTitle {
  color: #fff;
  font-weight: bold;
  font-size: 19px;
  text-align: center;
  padding: 0 0 10px 0;
  width: 90%;
}
.enterDataItem {
  width: 100%;
  padding-bottom: 5%;
}
.enterFooter {
  text-align: center;
  width: 100%;
}

.enterCard {
  transition: 0.2s;
  width: 80%;
  display: flex;
  flex-flow: column;
  background: #fff;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--background_color_card);
  border-radius: 10px;
  box-shadow: 5px 5px 4px 0px #00000030;
  position: relative;
}

@media (max-height: 600px) {
  .enterContainer {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    transition: 0.3s;
    padding-top: 1%;
    transform: scale(0.8);
  }
}
