.infoDonut {
  z-index: 1;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.9);
}
.infoDonutBlack {
  z-index: 1;
  color: #110261;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  height: 100%;
  position: absolute;
  transform: scale(0.9);
}

.circle {
  /* fill: #110261; */
  stroke: #0fde8c;
  stroke-width: 1.3px;
  transition: 0.2s;
  will-change: transform, opacity;
}
.circleOutter {
  /* fill: #110261; */

  stroke: #2405c6;
  stroke-width: 1.3px;
  transition: 0.2s;
  will-change: transform, opacity;
}
.circleOutterCommon {
  stroke: #2405c6;
}
.circleOutterFun {
  stroke: #ffb200;
}
.circleOutterInvest {
  stroke: #f72d6b;
}
.text {
  font-weight: bold;

  font-family: Arial;
  font-size: 5px;
  fill: #ffffff;
}
.title {
  font-weight: bold;

  position: relative;
  top: -20px;
  font-weight: bold;
  font-size: 60px;
  opacity: 0.5;
}
.cost {
  font-weight: bold;

  font-size: 18px;
  font-weight: bold;
  margin-top: -20px;
  padding-bottom: 20px;
}
.footer {
  font-weight: bold;
}

.footerCost {
  font-weight: bold;
  font-size: 2px;
}

.donut {
  transform: rotate(-90deg) scale(0.9);
  border-radius: 100%;
}
.donutOuter {
  transform: rotate(-90deg) scale(0.97);
  border-radius: 100%;
  position: absolute;
  left: 0;
}
.donutContainer {
  max-width: 250px;
  margin: auto;
  position: relative;
}

.pulseAnimation {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: scale(1) rotate(-90deg);
  }
  70% {
    opacity: 0.5;
    transform: scale(0.95) rotate(-90deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(-90deg);
  }
}

.flashAnimation {
  animation: flash 1.5s infinite;
}

@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
