.card {
  position: relative;
  background: #fff;
  padding: 30px 20px 0px 20px;
  margin: 20px;
  width: 100%;
  min-height: 200px;
  border-radius: 3px;
  max-width: 300px;
}
.cardBtnsBlock {
  /* display: flex;
  justify-content: center; */
  width: 94%;
  position: absolute;
  bottom: 0;
  margin-left: -10px;
  margin-bottom: 20px;
}
/* .cardBtnsBlock button {
  outline: 0;
  cursor: pointer;
  text-transform: uppercase;
  border: 0px;
  background: #110261;
  color: #fff;
  padding: 20px;
  font-size: 15px;
  margin: 5px;
  border-radius: 50px;
  width: 40%;
  transition: 0.2s;
}
.cardBtnsBlock button:hover {
  box-shadow: 2px 2px 4px 2px #808080;
}
.cardBtnsBlock button:active {
  box-shadow: none;
}
.cardBtnsBlock button:nth-child(2) {
  background: #0fde8c;
} */
.title {
  color: #8e8d8d;
  padding-bottom: 15px;
}
.cardInput {
  padding-left: 20px;
  margin-left: -10px;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 3px;
  background: #eaeff2;
  font-size: 20px;
  transition: 0.2s;
}

.cardInputError {
  background: #ffb0b0;
}

.transfer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.transferItem {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.transferItem input {
  outline: 0;
  opacity: 0;
  height: 30px;
  width: 30px;
  cursor: pointer;
  position: absolute;
}
.transferItemDisabled .fakeRadio {
  border: 2px solid #8b9898;
}
.transferTitle {
  color: #8b9898;
  font-size: 13px;
  padding: 5px 0 0 0;
}
.transferItem input:checked ~ .fakeRadio {
  background-color: #0fde8c;
}
.transferItem input:hover ~ .fakeRadio {
  background-color: #eaeff2;
}
.transferItem input:hover ~ .fakeRadio {
  background-color: #eaeff2;
}
.transferItem input:checked:hover ~ .fakeRadio {
  background-color: #15ffa1;
}
.fakeRadio {
  transition: 0.2s;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #200a9c;
}
