.DayPicker-Caption > div {
  font-weight: 500;
  font-size: 1.15em;
  color: #110261;
  text-align: center;
}
.DayPicker-NavButton {
  position: absolute;
  top: 1em;
  right: 0;
  left: auto;
  display: inline-block;
  margin-top: 2px;
  width: 1.25em;
  height: 1.25em;
  background-position: center;
  background-size: 50%;
  background-repeat: no-repeat;
  color: #8b9898;
  cursor: pointer;
}
.DayPicker-NavButton--prev {
  margin-right: 1.5em;
  left: 0;
}
.DayPicker-wrapper {
  position: relative;

  flex-direction: row;
  padding-bottom: 1em;

  user-select: none;
  max-width: 245px;
  margin: auto;
}
.DayPicker-Day {
  display: table-cell;
  padding: 1em;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
}
.DayPicker-Body {
  font-size: 12px;
}
.pickle__footer {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}
