.card {
  max-width: 300px;
  margin: auto;
  background-color: #fff;
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  box-shadow: 0px 0px 5px 1px rgb(191, 191, 191);

  position: relative;
}
.header {
  display: flex;
  justify-content: space-between;
  color: #b3b3b3;
  margin: 0px;
  font-size: 10px;
  align-items: center;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.headerLeft {
  display: flex;
  align-items: center;
}
.title {
  padding-left: 10px;
}
.options span span svg:hover {
  cursor: pointer;
  fill: #f72d6b;
}
