.profile,
.calendar,
.profile,
.history,
.money-bag-icon,
.pencil,
.cross,
.check,
.pie-chart-logo,
.transfer {
  width: 25px;
  height: 25px;
  transition: 0.2s ease;
}
.plus,
.minus {
  width: 15px;
  height: 15px;
  transition: 0.2s ease;
}
.budget-logo,
.payment-logo,
.fun-logo,
.fun-logo,
.hieroglyph,
.clock {
  width: 100px;
  height: 100px;
}
.pencil:hover {
  fill: #f72d6b !important;
}
.default-display {
  font-size: 16px;
}
