.profile,
.calendar,
.profile,
.history,
.money-bag-icon,
.pencil,
.cross,
.check {
  width: 20px;
  height: 20px;
  transition: 0.2s ease;
}
.budget-logo,
.payment-logo,
.fun-logo,
.fun-logo {
  width: 100px;
  height: 100px;
}
.pencil:hover {
  fill: #f72d6b !important;
}
.default-display {
  font-size: 16px;
}
