.footer {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.counterBlockFooter {
  font-size: 15px;
  display: flex;
  flex-flow: column;
  align-items: self-end;
  justify-content: center;
}
.counterFooter div {
  display: flex;
}
.counter {
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
  color: #110261;
}
.chooser {
}
.counterBlock {
  display: flex;
  padding-left: 10px;
}
.highlight {
  color: #f72d6b;
  font-weight: bold;
}

.btnOk {
  background: url("../../static/check.svg") no-repeat;
  background-position: center;
  transition: 0.2s;
  background-color: #0fde8c;
}
.btnOk:hover {
  background-color: #0fde8b83;
}
.btnChanel {
  background: url("../../static/cross-white.svg") no-repeat;
  background-position: center;
  background-color: #f72d6b;
}
.btnChanel:hover {
  background-color: #f72d6a71;
}

.btn {
  background-size: 20px 20px;
  border: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 100%;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.days {
  padding-top: 20px;
  display: inline-block;
}
