.footer {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
  max-width: 300px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.counterFooter {
  font-size: 15px;
  display: flex;
  flex-flow: column;
  align-items: self-end;
  justify-content: center;
}
.counter {
  font-weight: bold;
  font-size: 40px;
  padding: 10px;
  color: #110261;
}
