.footer {
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  margin: auto;
  max-width: 300px;
  padding-bottom: 30px;
}

.counterBlockFooter {
  font-size: 17px;
  display: flex;
  flex-flow: column;
  align-items: self-end;
  justify-content: center;
}
.counterFooter div {
  display: flex;
}
.counter {
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  color: #224b7a;
}

.counterBlock {
  display: flex;
  padding-left: 10px;
}
.highlight {
  color: #f72d6b;
  font-weight: bold;
}

.btnOk {
  background: url("../../static/check.svg") no-repeat;
  background-position: center;
  transition: 0.2s;
  background-color: #0fde8c;
}
.btnOk:active {
  opacity: 0.5;
}
.btnChanel {
  background: url("../../static/cross-white.svg") no-repeat;
  background-position: center;
  background-color: #f72d6b;
}
.btnChanel:active {
  opacity: 0.5;
}

.btn {
  background-size: 20px 20px;
  border: none;
  color: #ffffff;
  padding: 15px;
  border-radius: 100%;
  transition: 0.2s;
  width: 50px;
  height: 50px;
  display: inline-block;
  outline: 0;
}

.days {
  padding-top: 20px;
  display: inline-block;
}
.paydayToDay {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 24px;
  background: #0fde8c;
  color: #ffffff;
  padding: 10px;
}
.pickerWrapper {
  transition: 0.3s ease-in-out;
  overflow: hidden;
  height: 380px;
}

.pickerClosed {
  height: 0px;
}
.pencil {
  position: absolute;
  right: 20px;
  top: 20px;
  color: red;
}

.pencil > span > span > svg {
  cursor: pointer;
  fill: #9aa2b0;
}
.pencil:active > span > span > svg {
  fill: #f72d6b;
}
