.pay-day__enter {
  display: inline-block;
  color: #828282;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  transition: 0.3s;
  cursor: pointer;
}

.pay-day__enter:hover {
  color: #f72d6b;
}
