.container {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  position: absolute;
  width: 100%;
  /* height: 100%; */
  background-color: #eaeff2;
}
.background {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #eaeff2;
}
.verticalLine {
  /* position: fixed;
  z-index: 1;
  background: #b2b2b2;
  border-radius: 10px;
  height: 100%;
  width: 10px;
  margin-top: -30px;
  display: inline-block; */
  z-index: 1;
  position: absolute;
  background: #b2b2b2;
  border-radius: 10px;
  height: 100%;
  align-self: center;
  width: 7px;
  margin-top: 53px;
  display: inline-block;
}
.oneDay {
  display: flex;
  position: relative;
  margin-bottom: 30px;
  margin-top: 33px;
  flex-flow: column wrap;
}
.day {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  font-weight: bold;
  background: #fff;
  border-radius: 10px;
  color: #224b7a;
  width: 100px;
  margin: auto;
  text-align: center;
  padding: 10px;
  z-index: 3;
  border-radius: 20px;
}
.dayOffset {
  margin-bottom: 35px;
}
.operation {
  z-index: 2;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 25px;
  transform: scale(0.9);
  position: relative;
}
.empty {
  text-transform: uppercase;
  position: absolute;
  position: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 90%;
  flex-flow: column wrap;
}
.emptyTitle {
  padding: 20px;
  color: #989898;
}
.isComment {
  background-color: #fff;
  border-radius: 100%;
  width: 22px;
  height: 22px;
  color: #ffb200;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
  position: absolute;
  right: 110px;
  top: -8px;
  /* box-shadow: 3px 2px 4px 0px #00000061; */
  border: 1px solid;
}
