.modal {
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
}
.modal__card {
  position: relative;
  background: #fff;
  padding: 30px 20px 0px 20px;
  margin: 20px;
  width: 100%;
  height: 30%;
  border-radius: 3px;
}
.modal__card-btns-block {
  display: flex;
  justify-content: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  margin-left: -20px;
  margin-bottom: 20px;
}
.modal__card-btns-block button {
  cursor: pointer;
  text-transform: uppercase;
  border: 0px;
  background: #110261;
  color: #fff;
  padding: 20px;
  font-size: 15px;
  margin: 5px;
  border-radius: 50px;
  width: 40%;
  transition: 0.2s;
}
.modal__card-btns-block button:hover {
  box-shadow: 2px 2px 4px 2px #808080;
}
.modal__card-btns-block button:active {
  box-shadow: none;
}
.modal__card-btns-block button:nth-child(2) {
  background: #0fde8c;
}
.modal__title {
  color: #8e8d8d;
  padding-bottom: 15px;
}
.modal__card-input {
  padding-left: 20px;
  margin-left: -10px;
  width: 100%;
  height: 40px;
  border: 0;
  border-radius: 3px;
  background: #eaeff2;
  font-size: 20px;
  transition: 0.2s;
}

.modal__card-input_error {
  background: #ffb0b0;
}

.modal_overlay-enter {
  opacity: 0;
  /* transform: scale(0.9); */
}
.modal_overlay-enter-active {
  opacity: 1;
  /* transform: translateX(0); */
  transition: opacity 300ms;
}
.modal_overlay-exit {
  opacity: 1;
}
.modal_overlay-exit-active {
  opacity: 0;
  /* transform: scale(0.9); */
  transition: all 250ms ease-out;
}
