.enter {
  display: flex;
  justify-content: center;
  flex-flow: column;
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  transition: 0.3s;
  padding-bottom: 60px;
}
.enterItem {
  padding: 0px 0px 30px 0px;
}
.budgetBlock {
  padding: 40px 0 0 0;

  text-align: center;
}
.budget {
  font-weight: 200;
  font-size: 35px;
  margin: 0 0 40px 0;
}
.volute {
  font-weight: 300;
  padding-left: 10px;
}
.footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
