.enter {
  display: inline-block;
  color: #000000;
  text-align: center;
  font-size: 25px;
  font-weight: 200;
  transition: 0.3s;
  cursor: pointer;
}
.enter:hover {
  color: #f72d6b;
}
.budgetBlock {
  text-align: center;
  padding-bottom: 20px;
}
.budget {
  font-weight: 200;
  font-size: 35px;
}
.volute {
  font-weight: 300;
  padding-left: 10px;
}
